* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}



.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-style: inherit;
    font: inherit;
}



.top {
    height: 710px;
    background-color: #E1FF8F;
    background-image: url(images/stars1.png);
    background-repeat: no-repeat;
    background-position: 100px -350px;    
    background-size: cover;
    padding-top: 196px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    &__content {
        // max-width: 769px;
        display: flex;
        flex-direction: column;
        gap: 24px;  
    }
    
}

.title {
    font-size: 64px;
    font-weight: 700;
    &-white {
        color: #FFFFFF;
        padding-bottom: 24px;
    }
}

.tagline {
    font-size: 24px;
    font-weight: 400;
    strong {
        font-weight: 600;
    }
}

.button {
    
    width: 247px;
    // padding-right: 65px;
    // padding-left: 65px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #202027;
    border-radius: 60px;
    box-sizing: border-box;
    &:hover {
        border: 1px solid #000000;
        background-color: #FFFFFF;
        color: #000000;

    }
    &-mob {
        display: none;
    }
}

.content {
    background-color: #202027;
    background-image: url(images/stars2.png);    
    background-repeat: no-repeat;
    background-size: cover;

}

.about {
    padding-top: 94px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    &__tagline {
        color: #FFFFFF;
    }
    // &__top {
    //     width: 788px;
    // }
}

.container {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    &__item {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    &-mob {
        display: none;
    }
}



.item {
    background-color: #FFFFFF;
    color: #202027;
    border-radius: 30px;
    height: fit-content;
    max-width: 378px;
    transition: transform 1s;
    &:hover {
        transform: scale(1.1);
    }

    &__image {
        // flex-basis: 50%;
        display: block;
        object-fit: cover;
        border-radius: 30px;
        width: 100%;
    }
    
    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: start;
        padding: 32px;
        
    }
    &__number {
        font-size: 16px;
        font-weight: 500;
        background-color: #F7F7F7;
        border-radius: 52px;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 10px;
        width: fit-content;
    }
    &__name {
        font-size: 32px;
        font-weight: 700;
    }
    
}

.games {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 48px;
    &-container {
        padding-bottom: 144px;
    }
    
    &__item {
        display: flex;
        justify-content: flex-start;
        max-width: 100%;
        height: fit-content;
        height: 500px;
        &_odd {
            flex-direction: row-reverse;
        }

    }
    &__image {
        width: 50%;
        border-radius: 30px;
        display: block;
        object-fit: cover;

    }
    
    
    &__text {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: start;
        padding: 48px;
        padding-bottom: 36px;
        padding-right: 10%;
    }
    
    &__name {
        font-size: 48px;
        font-weight: 700;
    }
    &__description {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 12px;
    }
}

.footer {
    height: 150px;
    background-color: #BDED35;
    text-align: center;
    &__text {
        font-size: 24px;
        font-weight: 600;
        padding-top: 60px;
    }
}




@import 'mobile';

